<div class="modal fade" id ="modalValidateNewUser" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">L'utilisateur a bien été créé ! </h5>
                <div class="btn" data-dismiss="modal">Fermer</div>
            </div>
        </div>
    </div>
</div>